* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../assets/Quicksand/Quicksand-VariableFont_wght.ttf');
}

body {
    /*
    background: rgb(2, 69, 122);
    background: linear-gradient(90deg, rgba(2, 69, 122, 1) 0%, rgba(1, 138, 190, 1) 70%, rgba(151, 202, 219, 1) 100%);
    */
    /*
    background: rgb(2, 69, 122);
    background: linear-gradient(90deg, rgba(2, 69, 122, 1) 0%, rgba(1, 138, 190, 1) 28%, rgba(151, 202, 219, 1) 100%);
    */

    background: rgb(2, 69, 122);
    background: linear-gradient(90deg, rgba(2, 69, 122, 1) 0%, rgba(1, 138, 190, 0.9457983022310487) 50%, rgba(151, 202, 219, 1) 100%);

}

.input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
}

.valid_input {
    border: 3px solid #1ed12d;
    opacity: 1;
}

.invalid_input {
    border: 3px solid #bb2929;
}